<%= form_for(@daily_expense) do |f| %>
  <% if @daily_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_expense.errors.count, "error") %> prohibited this daily_expense from being saved:</h2>

      <ul>
      <% @daily_expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.fields_for :users do |u| %>
        <%= f.fields_for :stores do |s| %>
            <div class="container">
              <div class="jumbotron">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 col-md-2 control-label">Store Name</label>
                    <div class="col-sm-10 col-md-10">
                      <%= s.select :store_id, Store.all.collect{|p| [p.name, p.id] }, :class=>"form-control"%>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 col-md-2 control-label">Expense For</label>
                    <div class="col-sm-10 col-md-10">
                      <%= f.text_field :expense_for, :class=>"form-control", :id=>"inputEmail3", :placeholder=>"Expense reason" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 col-md-2control-label">Expense Amount</label>
                    <div class="col-sm-10 col-md-10">
                      <%= f.text_field :expense, :class=>"form-control", :id=>"inputEmail3", :placeholder=>"Amount" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 col-md-2control-label">Expense Amount</label>
                    <div class="col-sm-10 col-md-10">
                      <%= u.select :expense_by, User.all.collect{|p| [p.last_name, p.id]}, :class=>"form-control" %>
                    </div>
                  </div>
                  <div style="padding: 10px"><%= f.submit 'Save Expense', :class=>"btn btn-success" %></div>
                  <%= link_to 'Back', daily_expenses_path, :class => "pull-right" %>
                </form>
              </div>
            </div>
        <% end %>
    <% end %>
<% end %>
