<div class="container">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Listing Daily Expenses</div>
    <div class="panel-body">
      <p>Here is the list of all expenses list occurring through the today </p>
    </div>
  </div>
  <br><br>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Store Name</th>
      <th>Store location</th>
      <th>Expense By</th>
      <th>Expense For</th>
      <th>Amount</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @daily_expenses.each do |expense| %>

        <tr>
          <td class="list_description">
            <%= Store.where(:id => expense.store_id).first.name %>
          </td>
          <td class="list_description">
            <%= Store.where(:id => expense.store_id).first.location %>
          </td>
          <td class="list_description">
            <%= User.where(:id=> expense.expense_by).first.first_name + " " + User.where(:id=> expense.expense_by).first.last_name%>
          </td>
          <td class="list_description">
            <%= expense.expense_for %>
          </td>
          <td class="list_description">
            <%= expense.expense %>
          </td>
          <td class="list_actions">
            <%= link_to 'Show', expense %>
            <br/>
            <%= link_to 'Edit', edit_daily_expense_path(expense) %>
            <br/>
            <%= link_to 'Destroy', expense, confirm: 'Are you sure?', method: :delete %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
  <div class="row">
    <div class="col-md-8">
      <%= link_to 'New Expense', new_daily_expense_path, :class => 'btn btn-success btn-lg', :role => "button" %>
    </div>
  </div>
  <br><br>
  <%= will_paginate @daily_expenses, :renderer=> 'BootstrapPagination::Rails' %>
</div>
