<%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.fields_for :attributes do |u| %>
        <%= f.fields_for :stores do |s| %>
            <div class="form-group">
              <label>Product Name</label>
              <%= f.text_field :name, :class=>"form-control" %>
            </div>
            <div class="form-group">
              <label>Product Code</label>
              <%= f.text_field :code, :class=>"form-control" %>
            </div>
            <div class="form-group">
              <label>Product Category</label>
              <%= u.select :category, product_categories, prompt: 'Select a Category', :class=>"form-control" %>
            </div>
            <div class="form-group">
              <label>Product Price</label>
              <%= u.text_field :price, :class=>"form-control" %>
            </div>
            <div class="form-group">
              <label>Product Size</label>
              <%= u.text_field :size, :class=>"form-control" %>
            </div>
            <div class="form-group">
              <label>Product Color</label>
              <%= u.text_field :color, :class=>"form-control" %>
            </div>
            <div class="form-group">
              <label>Product Quantiry</label>
              <%= f.text_field :quantity, :class=>"form-control" %>
            </div>
            <div class="form-group">
              <label>Store Name</label>
              <%= f.select :store_id, Store.all.collect{|p| [p.name, p.id] }%>
            </div>

            <div class="form-group">
              <label>Product Images</label>
              <input type="file" class="file_1"/>
            </div>
            <%= f.submit 'Save Product', :class=>"btn btn-default" %>
        <% end %>
    <% end %>
<% end %>
