<%# product = Product.find params[:product] %>
<% report = Report.find session[:report_id] %>
<div style="max-width: 960px; margin: 0 auto">
  <h1>Invoice</h1>
  <%= form_for(@report) do |f| %>
      <% if @report.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

            <ul>
              <% @report.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="row" style="border-bottom: 2px solid gray">
        <div class="col-md-6"><h4><b>OUR DETAILS</b></h4></div>
        <div class="col-md-6 text-right"><h4><b>INVOICE DETAILS</b></h4></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p><b><%= report.store.name %></b></p>
          <p><%= report.store.email %></p>
          <p><%= report.store.phone %></p>
          <p><%= report.store.location %></p>
          <%#= f.hidden_field :store_id, :value =>product.store.id %>
          <%#= f.hidden_field :product_id, :value =>product.id %>
          <%= f.hidden_field :seller_id, :value =>current_user.id %>
          <%= f.hidden_field :consumer_id %>
        </div>
        <div class="col-md-6 text-right">
          <p>Invoice id #<b><%= session[:report_id] %></b></p>
          <p>Invoice Date: <b><%= report.created_at.strftime("%B %d, %Y") %></b></p>
        </div>
      </div>

      <br><br>

      <div class="row">
        <div class="col-md-6">
          <h4><b>BILLING DETAILS</b></h4>
          <p>Mahbub Rony</p>
          <p>rony.cse36@gmail.com</p>
          <p>+8801717690796</p>
          <p>312, Ahmed Nagar <br> Mirpur, Dhaka</p>
        </div>
        <div class="col-md-6">
          Please insert consumer details ...
          <%= f.fields_for :consumers do |ff| %>
          <!--<form role="form" id="consumer-form" method="post" action="/reports/create_consumer" data-remote='true'>-->
            <div class="form-group">
              <label>First Name:</label>
              <!--<input type="text" class="form-control" id="first-name" placeholder="Enter First Name">-->
              <%= ff.text_field :first_name, :class=>"form-control", :id=>"first-name", :placeholder=>"Enter First Name" %>
              <label>Last Name:</label>
              <!--<input type="text" class="form-control" id="last-name" placeholder="Enter Last Name">-->
              <%= ff.text_field :last_name, :class=>"form-control", :id=>"last-name", :placeholder=>"Enter Last Name" %>
            </div>
            <div class="form-group">
              <label>Email</label>
              <%= ff.text_field :email, :class=>"form-control", :id=>"email", :placeholder=>"Enter Email" %>
            </div>
            <div class="form-group">
              <label>Phone</label>
              <%= ff.text_field :phone, :class=>"form-control", :id=>"phone", :placeholder=>"Enter Phone Number" %>
            </div>
            <div class="form-group">
              <label>Address</label>
              <!--<textarea class="form-control" id="address" rows="3"></textarea>-->
              <%= ff.text_area :address, :class=>"form-control", :id=>"address", :placeholder=>"Enter Address" %>
              <%= ff.hidden_field :report_id%>
            </div>
            <!--<button type="submit" class="btn btn-default">Submit Consumer</button>-->
            <%#= ff.submit 'Submit Consumer', :class=> 'btn btn-default' %>
          <!--</form>-->
          <% end %>
        </div>
      </div>

      <div>
        <h2>ITEMS</h2>
        <table class="table">
          <th>#</th>
          <th>WHAT?</th>
          <th>OPTIONS?</th>
          <th>HOW MANY?</th>
          <th class="text-right">AMOUNT?</th>
          <% report.report_items.each_with_index do |report_item, index| %>
          <% product = Product.find report_item.product_id %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= "#{product.name} #{product.code}" %></td>
            <td><%= "#{product.attribute.color}, Size: #{product.attribute.size}" %></td>
            <td><%= text_field_tag "report_item_#{report_item.id}",'', :onkeyup=>"calculatePrice(#{report_item.id}, #{product.attribute.price} )" %></td>
            <td class="text-right"><span class="cart_item report_item_<%=report_item.id%>">0.00</span> BDT</td>
          </tr>
          <% end %>
          <!-- Button trigger modal -->
          <!--<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">-->
            <!--Launch demo modal-->
          <!--</button>-->
          <!--Fixed tr-->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right"><b>Sub-Total:</b> <spna id='sub-total'>0.00</spna> BDT</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right"><b>15% VAT:</b> <span id="vat">0.00</span> BDT</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right"><b style="font-size: 15px">Order Total:</b> <span id="total">0.00</span> BDT</td>
          </tr>
          <!--End of fixed tr-->
        </table>
        <!--<table class="table">-->

        <!--</table>-->
      </div>

      <br>

      <div class="actions">
        <%= f.submit 'Sell and Create Invoice', :class=>"btn btn-default" %>
      </div>
  <% end %>
</div>

<!-- Modal -->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>-->
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--...-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<script>
//    $('form#consumer-form').submit(function() {
//        var valuesToSubmit = $(this).serialize();
//        $.ajax({
//            url: $(this).attr('action'), //sumbits it to the given url of the form
//            data: valuesToSubmit
//        }).success(function(json){
//                   alert('Suc'); //act on result.
//        });
//        return false; // prevents normal behaviour
//    });
//        $("#pquantity").keyup(function(){
//            alert('Hello');
//            var quantity = $(this).text();
//            var price = <%#= product.attribute.price %>;
//            alert(price);
//            var without_vat = quantity * price;
//            alert(without_vat)
//            var with_vat = without_vat + (without_vat *.15); // 15% vat
//            alert(with_vat);
//            $('#total').text = 30000;
//        })

function calculatePrice(report_id, price)
{
    var quantity = document.getElementById('report_item_'+report_id).value;
    if($.isNumeric(quantity)){
        var per_product_cost = parseFloat(price * quantity).toFixed(2);
        document.getElementsByClassName('report_item_'+report_id)[0].innerHTML = per_product_cost;

        var all_elements = document.getElementsByClassName('cart_item');
        var sub_grand_total = 0
        for(var i=0, max= all_elements.length; i < max; i++){
            sub_grand_total += parseInt(all_elements[i].innerHTML);
        }
        document.getElementById('sub-total').innerHTML = parseFloat(sub_grand_total).toFixed(2);
        document.getElementById('vat').innerHTML = parseFloat(sub_grand_total * .15).toFixed(2);
        document.getElementById('total').innerHTML = parseFloat(sub_grand_total + (sub_grand_total * .15)).toFixed(2);
    }

}
</script>
